    <nav>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/index.html">Home</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/introduction.html">Introduction</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/contract.html">Contract</a>
    </nav>
        <nav>
      <a href="https://webpages.charlotte.edu/tmaniga1/testedmantas/index.html">Tested Mantas</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/fccfsjs_outline.html">FCC FSJS Outline</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/intro_form.html">Introduction Form</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/hobby/index.html">Hobby Page</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/website_evaluations.html">Website Evaluations</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/project_overview.html">Project Overview</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/project/index.html">Client Project</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/review1.html">Peer Evaluation 1</a>
      <a href="https://webpages.charlotte.edu/tmaniga1/ITIS3135.io/review2.html">Peer Evaluation 2</a>
    </nav>